# 1st part -> operation e.g. [+],[-],[=]
# 2nd part -> topic name e.g. kafka-test-topic-01
# 3rd part -> number of partitions e.g. 6
# 4th path -> replication factor e.g. 3
# 5th part -> retention period e.g. 172800000 or 1 week
# If topic settings are not specified then the default will be applied which is 
# Default Partition #6, replication factor #3, retention period #1 week

[+]:kafka-test-topic-01:6:3:172800000
[-]:kafka-test-topic-01:6:3:172800000